.select-box-container {
  background-color: white;
  width: 30rem;
  height: 20rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 3px 5px 1px lightgrey;
  overflow-y: scroll;
}

.radio-section {
  margin: 0.7rem;
  & > label {
    & > input[type='radio'] {
      appearance: none;
      border: 1px solid #5e5e5e;
      width: 1rem;
      height: 1rem;
      content: none;
      outline: none;
      margin-right: 0.7rem;
      box-shadow: rgba(169, 169, 169, 0.233) 0px 3px 8px;
      border-radius: 3px;
      &:checked {
        appearance: none;
        outline: none;
        padding: 0;
        content: 1px solid gray;
        border: 1px solid lightgray;
      }
    }
  }
}

.radio-section > label > input[type='radio']:checked::before {
  position: relative;
  content: url('../public/img/checked-sign.png');
  width: 1rem;
  height: 1rem;
  border-radius: 3px;
}

.selected-items-area {
  margin: 1rem 0.5rem;
  border-bottom: 0.5px solid lightblue;
  padding: 1rem 0.5rem;
  flex-wrap: wrap;
  & > div {
    min-width: fit-content;
    background-color: #ed7d2b;
    border-radius: 2rem;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    margin: 0.1rem;
    & > span {
      margin-right: 1rem;
    }
  }
}
